.env
tmp/
venv/
*.onnx
nasbench_data/nasbench_full.json
nasbench_data/all_metrics.json
build/
debug/
.vscode
*.in
*.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Exception as example
!ilp_allocation_output/model_1.out
results/
